# Ignore object files and executables
*.o
*.out
*.exe

# Ignore certain SFML libary files
sfml-network/


# Ignore project files created by Visual Studio 

# Ignore compiled game data
bin/


### CMake ###
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

### CMake Patch ###
*-prefix/
